<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
        <rewrite>
            <providers>
                <provider name="DownloadAlerter" type="DownloadAlerter, Hahndorf.IIS.DownloadAlertProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fbbf4a0b4144588">
                    <settings>
                        <add key="Recipient" value="peter@*****.***" />
                        <add key="Sender" value="iisdownload@iis.local" />
                        <add key="Server" value="localhost" />
                    </settings>
                </provider>
            </providers>
            <rules>
                <rule name="Test">
                    <match url="test-1\.html" />
                    <action type="Rewrite" url="{DownloadAlerter:{URL}}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>